<br><h3 class="text-center">Account List</h3><br>
<!-- <div class="container">
<table class="table table-striped table-hover table-bordered" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
    <thead>
        <tr>
            <th>Account Number</th>
            <th>User Id</th>
            <th>Account Type</th>
            <th>Account Balance</th>
            <th>Branch Name</th>
            <th>Update Account</th>
            <th>Delete Account</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let acc of accounts | paginate: { itemsPerPage: 5, currentPage: page1,totalItems:totalLength1 }">
            <td>{{acc.accid}}</td>
            <td>{{acc.userid}}</td>
            <td>{{acc.atype}}</td>
            <td>{{acc.abalance}}</td>
            <td>{{acc.bname}}</td>
            <td><button class="btn btn-success" style="float: left;" (click)="updateAccount(acc.accid)"><i class="fa fa-pencil-square-o" style="color: white;font-size: 20px;" aria-hidden="true"></i></button></td>
            <td><button class="btn btn-danger" style="float: right;" (click)="deleteAccount(acc.accid)"><i class="fa fa-trash-o" style="color: white;font-size: 20px;" aria-hidden="true"></i></button></td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="page1=$event" class="my-pagination"></pagination-controls>
</div><br> -->
<div class="container">
    <div class="row">
        <div class="col-lg-4" *ngFor="let acc of accounts">
            <div class="card" style="width:20rem;margin:20px 0 24px 0;border:2px solid #f1f1f1;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
                <img class="card-img-top" src="../../assets/images/img_avatar3.png" alt="image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Account Details</h4>
                    <p class="card-text">Account Number : {{acc.accid}}</p>
                    <p class="card-text">User Id : {{acc.userid}}</p>
                    <p class="card-text">Account Type : {{acc.atype}}</p>
                    <p class="card-text">Account Balance : {{acc.abalance}}</p>
                    <p class="card-text">Branch Name : {{acc.bname}}</p>
                    <button class="btn btn-success" style="float: left;" (click)="updateAccount(acc.accid)"><i class="fa fa-pencil-square-o" style="color: white;font-size: 20px;" aria-hidden="true"></i></button>
                    <button class="btn btn-danger" style="float: right;" (click)="deleteAccount(acc.accid)"><i class="fa fa-trash-o" style="color: white;font-size: 20px;" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
